body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 30px;
    background-color: #0F172A;
}
#container {
    background-color: grey;
    color: black;
    border-radius: 20px;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    padding-bottom: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;   
}
#heading {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}
#drop {
    cursor: pointer;
    color: white;
    text-decoration: underline;
}
.down {
    display: none;
    text-align: center;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: max-content;
}
#container a {
    color: white;
    text-decoration: underline;
}
h1 {
    text-align: center;
    font-size: 5rem;
    margin-bottom: 10px;
    font-weight: bold;
    color: #a32904;
}
#content p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0 20px 0px 20px;
    padding: 0px 20px 0px 20px;
}
#content h3 {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 0 20px 0px 20px;
    padding: 0px 20px 0px 20px;
}
#content h2 {
    font-size: 2rem;
    margin: 0 20px 0px 20px;
    padding: 0px 20px 2px 20px;
    text-decoration: underline;
}
img {
    max-width: 300px;
    display: block;
    margin-left: 40px;
    margin-bottom: 10px;
}
footer {
    background-color: darkgrey;
    font-size: 1em;
    width: 100%;
}
.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 15px;
}
.social-icons a {
    color: black;
    text-decoration: none;
}
.copyright {
    padding-bottom: 7px;
}
@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }
    #content p {
        font-size: 1rem;
        margin: 0 10px 0px 10px;
        padding: 0px 10px 10px 10px;
    }
    #content h3 {
        font-size: 1.2rem;
        margin: 0 10px 0px 10px;
        padding: 0px 10px 10px 10px;
    }
    #content h2 {
        font-size: 1.5rem;
        margin: 0 10px 0px 10px;
        padding: 0px 10px 10px 10px;
    }
    img {
        max-width: 250px;
        max-height: 225px;
        margin-left: auto;
        margin-right: auto;
    }
}